{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "cypress/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "18"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "plugins": ["react", "cypress", "@typescript-eslint"],
  "rules": {
    "complexity": ["error", 15],
    "max-lines": ["error", 300],
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ]
  }
}
